// Se importan los estilos para cada Elemento

body {
    background-color: $Body-background-color;
    box-sizing: border-box;
    padding-top: 242px;
}

.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
    font-size: 24px;
    color: $Dark-grayish-cyan-1;
}

.calculator {
    background-color: $White;
    border-radius: 20px;
    &__bill-input, 
    &__people-input {
        input {
            border: none;
            border-radius: 6px;
            box-sizing: border-box;
            padding: .25em 1em;
            background-color: $Light-grayish-cyan;
            color: $Very-dark-cyan;
        }
        label {
            color: $Dark-grayish-cyan-1;
            font-weight: 700;
        }
    }
    &__tip-title {
        color: $Dark-grayish-cyan-1;
    }
    &__right {
        background-color: $Very-dark-cyan;
        border-radius: 20px;
    }
    &__output:nth-child(1) {
        margin-bottom: 30px ;
    }
    &__text {
        color: $White;
        font-weight: 700;
        &--lighter {
            color: $Dark-grayish-cyan-2;
        }
    }
    &__bucks {
        font-size: 40px;
        font-weight: 700;
        color: $Strong-cyan;
        &::before {
            content: '$';
        }
    }
}


.tip-button {
    border: none;
    background-color: $Very-dark-cyan;
    color: $White;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    &--custom {
        cursor: auto;
        color: $Very-dark-cyan;
        background-color: $Light-grayish-cyan;
    }
}

.reset-button {
    @extend .tip-button;
    @extend .is-active;
    font-size: 20px;
    text-transform: uppercase;
}